<nav class="navbar">
    <div class="container btn-container">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <span class="border-end">
                <button class="btn my-btn" type="button">ONE HOUR CURBSIDE AND IN-STORE PICKUP</button>
            </span>
            <button class="btn my-btn" type="button">LOG IN FOR FREE SHIPPING ON ORDERS $49+</button>
        </div>
    </div>
</nav>
<img src="assets/sports-pics.png" class="d-block w-80 position-relative bottom-100 start-50 translate-middle-x">
<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link" id="v-pills-boxingMMA-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
            type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Boxing & MMA</button>
        <button class="nav-link" id="v-pills-hockey-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
            type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Hockey</button>
        <button class="nav-link" id="v-pills-football-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages"
            type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Football</button>
        <button class="nav-link" id="v-pills-cricket-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings"
            type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Cricket</button>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...
        </div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...
        </div>
    </div>
</div>