<dsg-tiptopnavbar>Loading...</dsg-tiptopnavbar>

<dsg-topnavbar>Loading...</dsg-topnavbar>

<dsg-thirdtopnavbar>Loading...</dsg-thirdtopnavbar>

<dsg-firstcard>Loading...</dsg-firstcard>

<router-outlet></router-outlet>

<dsg-first-carousel>Loading...</dsg-first-carousel>

<div class="container-fluid d-flex">
    <div *ngFor="let product of products">
        <dsg-HIYAcard class="m-5" 
        img={{product.img}}
        [price]='product.price'
        [rating]='product.rating'
        description={{product.description}}>
            Loading...
        </dsg-HIYAcard>
    </div>
</div>