.card-group{
    margin-top: 100px;
    height: 250px;
    width: 1000px;
}
.card-image-top{
    position: relative;
    justify-content: center;
    width: 10px;
}
svg.bi{
    color: gold;
    position: sticky;
}