<nav class="navbar navbar-expand navbar-light bg-white border-top" role="navigation">
    <div class="container-fluid">
        <ul class="navbar-nav container-fluid">
            <li class="nav-item dropdown">
                <a class="nav-link active" href="#" id="sportsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sports
                </a>
                <ul class="dropdown-menu" aria-labelledby="sportsDropdown">
                    <li class="nav-item">
                        Boxing & MMA
                    </li>
                    <li class="nav-item">
                        Hockey
                    </li>
                    <li class="nav-item">
                        Football
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link active" href="#" id="womenDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Women
                </a>
                <ul class="dropdown-menu" aria-labelledby="womenDropdown">
                    <li class="nav-item">
                        Footwear
                    </li>
                    <li class="nav-item">
                        Apparel
                    </li>
                    <li class="nav-item">
                        Accessories
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link active" href="#" id="menDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Men
                </a>
                <ul class="dropdown-menu" aria-labelledby="menDropdown">
                    <li class="nav-item">
                        Footwear
                    </li>
                    <li class="nav-item">
                        Apparel
                    </li>
                    <li class="nav-item">
                        Accessories
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link active" href="#" id="kidsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Kids
                </a>
                <ul class="dropdown-menu" aria-labelledby="kidsDropdown">
                    <li class="nav-item">
                        Kids' Footwear
                    </li>
                    <li class="nav-item">
                        Kids' Accessories
                    </li>
                    <li class="nav-item">
                        New Arrivals
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link active" href="#" id="exerciseWellnessDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Exercise and Wellness
                </a>
                <ul class="dropdown-menu" aria-labelledby="exerciseWellnessDropdown">
                    <li class="nav-item">
                        Weight Training
                    </li>
                    <li class="nav-item">
                        Home Gym Equipment
                    </li>
                    <li class="nav-item">
                        Health & Wellness
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link active" href="#" id="outdoorDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Outdoor
                </a>
                <ul class="dropdown-menu" aria-labelledby="outdoorDropdown">
                    <li class="nav-item">
                        Hunting
                    </li>
                    <li class="nav-item">
                        Camping
                    </li>
                    <li class="nav-item">
                        Fishing
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link active" href="#" id="fanShopDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Fan Shop
                </a>
                <ul class="dropdown-menu" aria-labelledby="fanShopDropdown">
                    <li class="nav-item">
                        NHL
                    </li>
                    <li class="nav-item">
                        NFL
                    </li>
                    <li class="nav-item">
                        NBA
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link active" href="#" id="accessoriesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Accessories
                </a>
                <ul class="dropdown-menu" aria-labelledby="accessoriesDropdown">
                    <li class="nav-item">
                        Health & Wellness
                    </li>
                    <li class="nav-item">
                        Outdoor & Travel
                    </li>
                    <li class="nav-item">
                        Electronics
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link active" href="#" id="dealsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    This Week's Deals
                </a>
                <ul class="dropdown-menu" aria-labelledby="dealsDropdown">
                    <li class="nav-item">
                        Mens' Deals
                    </li>
                    <li class="nav-item">
                        Womens' Deals
                    </li>
                    <li class="nav-item">
                        Kids' Deals
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link active" href="#" id="topBrandsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Top Brands
                </a>
                <ul class="dropdown-menu" aria-labelledby="topBrandsDropdown">
                    <li class="nav-item">
                        Only at Dick's
                    </li>
                    <li class="nav-item">
                        Featured
                    </li>
                    <li class="nav-item">
                        Trending Now
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link active" href="#" id="clearanceDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Clearance
                </a>
                <ul class="dropdown-menu" aria-labelledby="clearanceDropdown">
                    <li class="nav-item">
                        Women
                    </li>
                    <li class="nav-item">
                        Men
                    </li>
                    <li class="nav-item">
                        Kids'
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>