<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">

        </a>
        <span class="text-right">
            <button class="btn dsg" type="submit">Pickup & Delivery</button>
            <button type="submit" class="btn dsg">Rentals</button>
            <span class="border-end">
                <button type="submit" class="btn dsg">Services</button>
            </span>
            <button type="submit" class="btn dsg1">Track Order</button>
            <button type="submit" class="btn dsg1">Help</button>
        </span>

    </div>
</nav>