<span class="border-bottom">
  <nav class="navbar">
    <div class="d-flex">
      <a class="navbar-brand" href="#">
        <img src="assets/dsg-logo.png" alt="" height="57">
      </a>
      <form>
        <div class="input-group">
          <span class="input-group-text">
            <svg class="bi" width="12.5" fill="currentColor">
              <use xlink:href="assets/bootstrap-icons.svg#search" />
            </svg>
            <input type="text" class="form-control" placeholder="What are you looking for?">
          </span>
          <svg class="cart" width="32" height="32" fill="currentColor" float="right">
            <use xlink:href="assets/bootstrap-icons.svg#cart3"/>
          </svg>
        </div>
      </form>
    </div>
  </nav>
</span>